<div class="snippet">
  <h1>Service Category Name: <%= @category.name %></h1>

  <div class="sdate">
     Created on <%= @category.created_at.strftime("%D at %T %Z") %>
  </div>

</div>

<%= link_to "Edit", edit_service_category_path(@category) %><br><br>


<%= link_to "Delete this category", 
				service_category_path(@category),
				method: :delete, 
				data: { confirm: "Are you sure?"} %>