
%br
%form{ action: search_providers_path, method: 'get'}
  .row
    .small-8.columns.large-offset-1
      %input#right-label{ name: 'search', placeholder: "Search for Service Provider", type: "text" }
    .small-3.columns.left
      %input.button.round.expand.small{ type: "submit" }
%br
%br

= link_to "Browse through all service providers", service_providers_path

- if app_user_signed_in?
  %br
  = link_to "Add service provider", new_service_provider_path

  = render "service_providers/tablelistproviders"

